%h1 Projects#index
%p Find me in app/views/projects/index.html.haml

.container-fluid
  .row
    .col-md-12
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Brand
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %strong.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
                %li.divider
                %li
                  %a{:href => "#"} One more separated link
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              %input.form-control{:type => "text"}/
            %button.btn.btn-default{:type => "submit"}
              Submit
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Link
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %strong.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
      #carousel-89811.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-89811"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-89811"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-89811"}
        .carousel-inner
          .item.active
            %img{:alt => "Carousel Bootstrap First", :src => "http://lorempixel.com/output/sports-q-c-1600-500-1.jpg"}/
            .carousel-caption
              %h4
                First Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            %img{:alt => "Carousel Bootstrap Second", :src => "http://lorempixel.com/output/sports-q-c-1600-500-2.jpg"}/
            .carousel-caption
              %h4
                Second Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            %img{:alt => "Carousel Bootstrap Third", :src => "http://lorempixel.com/output/sports-q-c-1600-500-3.jpg"}/
            .carousel-caption
              %h4
                Third Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-89811"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-89811"}
          %span.glyphicon.glyphicon-chevron-right
  .row
    .col-md-4
      %h2
        Heading
      %p
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn{:href => "#"} View details »
    .col-md-4
      %h2
        Heading
      %p
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn{:href => "#"} View details »
    .col-md-4
      %h2
        Heading
      %p
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn{:href => "#"} View details »
  .row
    .col-md-12
      .row
        .col-md-4
          .thumbnail
            %img{:alt => "Bootstrap Thumbnail First", :src => "http://lorempixel.com/output/people-q-c-600-200-1.jpg"}/
            .caption
              %h3
                Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
        .col-md-4
          .thumbnail
            %img{:alt => "Bootstrap Thumbnail Second", :src => "http://lorempixel.com/output/city-q-c-600-200-1.jpg"}/
            .caption
              %h3
                Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
        .col-md-4
          .thumbnail
            %img{:alt => "Bootstrap Thumbnail Third", :src => "http://lorempixel.com/output/sports-q-c-600-200-1.jpg"}/
            .caption
              %h3
                Thumbnail label
              %p
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
  .row
    .col-md-12
      .media
        %a.pull-left{:href => "#"}
          %img.media-object{:alt => "Bootstrap Media Preview", :src => "http://lorempixel.com/64/64/"}/
        .media-body
          %h4.media-heading
            Nested media heading
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          .media
            %a.pull-left{:href => "#"}
              %img.media-object{:alt => "Bootstrap Media Another Preview", :src => "http://lorempixel.com/64/64/"}/
            .media-body
              %h4.media-heading
                Nested media heading
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
